@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

li, a{
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar-container {
    background: #f2bf2b;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0px 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    cursor: pointer;
}

.logo span {
    color: #053f20;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu, li>a {
    padding: 10px 30px;
}

.menu> li>a:hover{
    background-color: #053f20;
    color: rgba(226, 233, 240, 0.938);
    border-radius: 52px;
    transform: translateY(-12px);
    transition: 0.6s;
}

.menu, a {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.contract-btn>button {
    border-radius: 32px;
    padding: 14px 30px;
    border: none;
    background-color: #053f20;
    color: rgba(226, 233, 240, 0.938);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.384);
}

.contract-btn>button:hover {
    color: #f2bf2b;
    animation: btn-animation 1.8s;
}

@keyframes btn-animation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.home {
    padding: 0px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: -1;
    min-height: 100vh;
    height: 500px;
    background: linear-gradient(45deg, #f2c02bcc, #f2c02b8f, #f2c02bcc);
}

aside>img {
    margin: 0 150px 0 0;
    width: 400px;
    height: 300px;
    opacity: 70%;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.infos>p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -25px;
    font-size: 25px;
    font-weight: 400;
}

.infos>p>span {
    color: #053f20;
    font-size: 36px;
    font-weight: 700;
}

.infos>h3 {
    font-weight: 700;
    font-size: 30px;
}

.sobre-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 500px;
}

.sobre-content>h6 {
    font-size: 30px;
}

.technologies {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.html-ico {
    padding: 10px 5px;
    border-radius: 8px;
    background: linear-gradient(to right, #e34c26, #f06529);
    color: #ebebeb;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.css-ico {
    padding: 10px 5px;
    border-radius: 8px;
    background: linear-gradient(to right, #264de4, #2965f1);
    color: #ebebeb;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.win-ico {
    padding: 10px 5px;
    border-radius: 8px;
    background:#00A4EF;
    color: #ebebeb;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.git-ico {
    padding: 10px 5px;
    border-radius: 8px;
    background:#171515;
    color: #ebebeb;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.sobre {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    background-color: #00A4EF;
    padding: 20px;
    border-radius: 20px;
}

.photo {
    border-radius: 200px;
    image-resolution: cover;
    width: 256px;
}

.sobre>p {
    font-size: 17px;
}

.sobre>p>span {
    font-size: 19px;
    font-weight: 700;
}