@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

li, a{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

.navbar-container {
    background: #f2bf2b;
    position: fixed;
    left: 0;
    right: 0;
    padding: 0px 80px;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    cursor: pointer;
}

.logo span {
    color: #053f20;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu>li>a {
    color: black;
    padding: 10px 30px;
}

.menu>li>a:hover{
    background-color: #053f20;
    color: rgba(226, 233, 240, 0.938);
    border-radius: 52px;
    transform: translateY(-10px);
    transition: 0.4s;
}

.menu, a {
    display: flex;
    align-items: center;
    gap: 5px; 
}

.contract-btn>button {
    border-radius: 32px;
    padding: 14px 30px;
    border: none;
    background-color: #053f20;
    color: rgba(226, 233, 240, 0.938);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.384);
}

.contract-btn>button:hover {
    color: #f2bf2b;
    animation: btn-animation 0.8s;
}

@keyframes btn-animation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.home {
    padding: 0px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    min-height: 100vh;
    height: 500px;
    background: linear-gradient(45deg, #f2c02bcc, #f2c02b8f, #f2c02bcc);
}

aside>img {
    margin: 0 150px 0 0;
    width: 400px;
    height: 300px;
    opacity: 70%;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.infos>span {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -25px;
    font-size: 25px;
    font-weight: 400;
}

.infos>span>h1 {
    color: #053f20;
    font-size: 36px;
    font-weight: 700;
}

.infos>h3 {
    font-weight: 700;
    font-size: 30px;
}

.infos>h5 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -5px;
    padding: 10px 31px;
    border-radius: 10px 10px 0px 0px;
    background: #2695c9;
}

.redes-sociais {
    z-index: 1;
    display: flex;
    gap: 30px;
    background: #57b1db;
    padding: 20px;
    border-radius: 8px 8px 12px 12px;
}

.instagram>a {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0;
    border-radius: 12px;
    color: #fff;
    background: linear-gradient(45deg, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
}

.instagram>a:hover{
    transform: translateY(-8px);
    transition: 0.6s;
}

.github>a {
    border-radius: 12px;
    background: #171515;
    color: #fff;
}

.github>a:hover{
    transform: translateY(-8px);
    transition: 0.6s;
}

.linkedin>a {
    border-radius: 12px;
    background: #0A66C2;
    color: #fff;
}

.linkedin>a:hover{
    transform: translateY(-8px);
    transition: 0.6s;
}

.sobre-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 500px;
}

.sobre-content>h6 {
    font-size: 30px;
}

.technologies {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.html-ico {
    padding: 10px 5px;
    border-radius: 8px;
    background: linear-gradient(to right, #e34c26, #f06529);
    color: #ebebeb;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.css-ico {
    padding: 10px 5px;
    border-radius: 8px;
    background: linear-gradient(to right, #264de4, #2965f1);
    color: #ebebeb;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.win-ico {
    padding: 10px 5px;
    border-radius: 8px;
    background:#00A4EF;
    color: #ebebeb;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.git-ico {
    padding: 10px 5px;
    border-radius: 8px;
    background:#171515;
    color: #ebebeb;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.sobre {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
    background-color: #00A4EF;
    padding: 20px;
    border-radius: 20px;
}

.photo {
    border-radius: 200px;
    image-resolution: cover;
    width: 256px;
}

.sobre>p {
    font-size: 17px;
    width: 480px;
    text-align: justify;
}

.sobre>p>span {
    font-size: 19px;
    font-weight: 700;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projetos-container>h4 {
    font-size: 30px;
}

.projetos {
    display: flex;
    gap: 30px;
}

.projects-name {
    font-size: 18px;
}

.projetos>.project-profile-card>li{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: url("../assets/imgs/profilecardbackground.png");
    background-size: cover;
    background-position: 50%;
    width: 250px;
    height: 200px;
}

.projetos>.project-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.projetos>.project-portifolio>li{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: url("../assets/imgs/portifoliobackground.jpg");
    background-size: cover;
    background-position: 50%;
    width: 250px;
    height: 200px;
}

.projetos>.project-portifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.projetos>.project-landing-page>li{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: url("../assets/imgs/coming-soon.jpg");
    background-size: cover;
    background-position: 50%;
    width: 250px;
    height: 200px;
}

.projetos>.project-landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

